*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
.App{
    background: crimson;
}
.card{
    width: 300px;
    background: #fff;
    margin-top: 10px;
}
.card img{
    width: 100px;
    font-weight: normal;
}
